<% layout('../share/layout.ejs') -%>

    <div class="row" ng-controller="detailController">
        <div class="col-lg-3">
            <% include ../share/sidebar.ejs -%>
        </div>
        <div class=" col-lg-6">
            <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
            <span id="_id" class="hide"><%- _id %></span>
            <div id="{{post._id}}" class="post">
                <div>
                    <h1>{{post.title}}</h1>
                </div>
                <div class="author">by {{post.userCreated.name}} at {{post.createdAt | date: "HH:mm dd/MM/yyyy"}}</div>
                <div class="address">{{ post.location.address }}</div>
                <div class="data" ng-repeat="data in post.datas">
                    <img ng-src="{{data.URL}}">
                </div>
                <div class="fb-comments" data-href="http://godseye.ml/{{post._id}}" data-width="100%" data-numposts="2"></div>
                <div class="line">
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/post/detail.js"></script>