<% layout('./share/layout.ejs') -%>
  <div class="container">
    <!-- Logo -->
    <div class="row">
      <% include ./share/logo.ejs %>
    </div>
    <!-- About -->
    <div id="band">
      <h3>GOD'S EYES</h3>
      <p>
        <em>We are watching!</em>
      </p>
      <p>If you’re someone who is routinely misplacing or losing things like the TV remote, your keys, wallet, or smartphone,
        then this app is created for you. GE is an app that can identify objects, match and link existing data from open
        data sources (images, videos, audio files are shared publicly by users) to search for an object. This can be applied
        to tracing lost items, lost or missing person, and improve security in the Smart City.</p>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <a href="#demo" data-toggle="collapse">
            <img src="/images/team/vu-minh-tri.jpg" class="img-circle person" alt="Vũ Minh Trí">
          </a>
          <p>
            <strong>Vũ Minh Trí</strong>
          </p>
          <div id="demo" class="collapse">
            <span>Front End Developer</span>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#demo2" data-toggle="collapse">
            <img src="/images/team/nguyen-khanh-nam.jpg" class="img-circle person" alt="Nguyễn Khánh Nam">
          </a>
          <p>
            <strong>Nguyễn Khánh Nam</strong>
          </p>
          <div id="demo2" class="collapse">
            <span>Back End Developer</span>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#demo3" data-toggle="collapse">
            <img src="/images/team/dinh-duy-kha.jpg" class="img-circle person" alt="Đinh Duy Kha">
          </a>
          <p>
            <strong>Đinh Duy Kha</strong>
          </p>
          <div id="demo3" class="collapse">
            <span>Back End Developer</span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-sm-4">
          <a href="#demo4" data-toggle="collapse">
            <img src="/images/team/dao-duy-phat.jpg" class="img-circle person" alt="Đào Duy Phát">
          </a>
          <p>
            <strong>Đào Duy Phát</strong>
          </p>
          <div id="demo4" class="collapse">
            <span>Android Developer</span>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#demo5" data-toggle="collapse">
            <img src="/images/team/vo-tuan-kiet.jpg" class="img-circle person" alt="Võ Tuấn Kiệt">
          </a>
          <p>
            <strong>Võ Tuấn Kiệt</strong>
          </p>
          <div id="demo5" class="collapse">
            <span>Back End Developer</span>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#demo6" data-toggle="collapse">
            <img src="/images/team/pham-hong-thai.jpg" class="img-circle person" alt="Phạm Hồng Thái">
          </a>
          <p>
            <strong>Phạm Hồng Thái</strong>
          </p>
          <div id="demo6" class="collapse">
            <span>Singer</span>
          </div>
        </div>
      </div>
    </div>
  </div>