<html lang="en" ng-app="GodsEye" ng-cloak>
<% include ./share/head.ejs -%>

<style>
    .visual-data {
        width: 300px
    }
</style>

<title>Admin Dashboard</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
<script src="/javascripts/admin.js"></script>

<body class="profile-page">
    <% include ./share/header.ejs %>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('/admin.png');"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div ng-controller="AdminController">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="profile">
                                <div class="avatar">
                                    <img src="<%- user_avatar %>" alt="Circle Image" class="img-circle img-responsive img-raised">
                                </div>

                                <span class="hide" id="user_id">
                                    <%- user_id -%>
                                </span>
                                <div class="name">
                                    <h2>
                                        <%- user_name -%>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="profile-tabs">
                                <div class="nav-align-center">
                                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                                        <!-- <li>
                                            <a href="#pendingLabels" role="tab" data-toggle="tab">
                                                <i class="material-icons">video_label</i>
                                                Pending labeled videos
                                            </a>
                                        </li> -->
                                        <li class="active">
                                            <a href="#locations" role="tab" data-toggle="tab">
                                                <i class="material-icons">
                                                    location_on
                                                </i>
                                                Locations
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#visual-data" role="tab" data-toggle="tab">
                                                <i class="material-icons">camera</i>
                                                Visual datas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#records" role="tab" data-toggle="tab">
                                                <i class="material-icons">
                                                    receipt
                                                </i> Records
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#users" role="tab" data-toggle="tab">
                                                <i class="material-icons">people</i>
                                                All users
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#reportedPosts" role="tab" data-toggle="tab">
                                                <i class="material-icons">
                                                    highlight_off
                                                </i>
                                                Reported posts
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/person/create">
                                                <i class="material-icons">
                                                    person_add
                                                </i>ADD PERSON
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Profile Tabs -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <!-- Location -->
                        <!-- <div class="tab-pane work active" id="locations">
                            <div class="table-responsive">
                                <table class="table table-striped w-auto">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Created At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="location in locations | orderBy:'-createdAt'">
                                            <td class="text-left">{{ location.name }}</td>
                                            <td class="text-left">{{ location.address }}</td>
                                            <td>{{ location.createdAt | date: "HH:mm dd/MM/yyyy" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        <div class="tab-pane work active" id="locations">
                            <div class="table-responsive">
                                <table id="locationTable" class="table table-striped w-auto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Created At</th>
                                            <!-- <th>Identified people</th> -->
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Visual data -->
                        <div class="tab-pane work" id="visual-data">
                            <div class="table-responsive">
                                <table id="visualTable" class="table table-striped w-auto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Visual data</th>
                                            <th>Location</th>
                                            <th>Time</th>
                                            <th>Identified people</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Record -->
                        <div class="tab-pane work" id="records">
                            <div class="table-responsive">
                                <table id="recordTable" class="table table-striped w-auto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Record</th>
                                            <th>Location</th>
                                            <th>Time</th>
                                            <th>Identified people</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- All User -->
                        <div class="tab-pane work" id="users">
                            <div class="table-responsive">
                                <table id="usersTable" class="table table-striped w-auto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Created at</th>
                                            <th>Reported</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- Reported Posts -->
                        <div class="tab-pane work" id="reportedPosts">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="posts-container">
                                        <div id="{{post._id}}" ng-repeat="post in scrollData" class="onePostContainer">
                                            <div>
                                                <div>
                                                    <h1 class="post-title">{{post.title}}</h1>
                                                </div>
                                                <div class="author">by {{post.userCreated.name}} at {{post.createdAt |
                                                    date:
                                                    "HH:mm
                                                    dd/MM/yyyy"}}</div>
                                                <div class="address">{{ post.location.name || post.location.address }}</div>
                                            </div>
                                            <!-- Carousel -->
                                            <div id="carousel{{post._id}}" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel{{post._id}}" data-slide-to="{{$index}}"
                                                        ng-class='{active:$first}' ng-repeat="data in post.datas"></li>
                                                </ol>
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <div class="item" ng-repeat="data in post.datas" ng-class='{active:$first}'>
                                                        <img class="post" ng-src="{{data.URL}}" ng-if="data.isImage">
                                                        <video class='post' ng-if="!data.isImage" controls>
                                                            <source ng-src="{{data.URL}}" type="video/mp4">
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- Left and right controls -->
                                                <a class="left carousel-control" href="#carousel{{post._id}}"
                                                    data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel{{post._id}}"
                                                    data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                            <!-- Action button -->
                                            <div class="text-right">
                                                <!-- <button id="approve{{post._id}}" class="btn btn-primary" ng-click="approve(post._id, $index)">Approve</button> -->
                                                <button class="btn btn-warning" style="cursor:none" disabled>Reported
                                                    {{post.reported.length}} times
                                                </button>
                                                <button id="delete{{post._id}}" class="btn btn-danger" ng-click="delete(post._id, $index)">Delete
                                                    post</button>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button ng-click='loadMoreReportedPosts()' class="btn btn-facebook">Load
                                            more posts</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending labeled videos -->
                        <!-- <div class="tab-pane work" id="pendingLabels">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div ng-repeat='video in videos'>
                                        <video class="post" controls>
                                            <source ng-src="{{video.URL}}" type="video/mp4">
                                        </video> -->
                        <!-- Label button -->
                        <!-- <div class='text-center'>
                                            <button id="suspicious{{post._id}}" class="btn btn-primary" ng-click="suspicious(video._id, $index)">{{video.suspicious}}
                                                Suspicious</button>
                                            <button id="notSuspicious{{post._id}}" class="btn btn-warning" ng-click="notSuspicious(video._id, $index)">{{video.notSuspicious}}
                                                Not
                                                suspicious</button>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="text-center">
                                        <button ng-click='loadMoreVideos()' class="btn btn-facebook">Load
                                            more videos</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>