<% layout('./share/layout.ejs') -%>

<style>
    .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        float: right;
    }

    .avatar-header {
        width: 80px;
    }

    .created-at-header {
        width: 140px;
    }

    .button-header {
        width: 140px;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
        border-bottom: solid black 3px;
        color: black;
        font-weight: 650;
        font-size: 30px;
        background-color: transparent;
    }

    .nav-pills>li>a {
        color: grey;
        font-weight: 650;
        font-size: 30px;
        background-color: transparent;
    }

    .nav-pills>li>a:hover {
        color: black;
        background-color: transparent;
    }
</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
<script src="/javascripts/admin.js"></script>
<div ng-controller="AdminController">
    <div class="row">
        <div id='sidebar-container' class="col-sm-3">
            <% include ./share/sidebar.ejs -%>
        </div>
        <div class="col-sm-6" style="margin-top: 20px">
            <span class="hide" id="user_id">
                <%- user_id -%>
            </span>
            <div>
                <img id='avatar' class="img-circle" ng-src="{{ user.avatar ||'https://accounts-cdn.9gag.com/media/avatar/21748854_100_1.jpg' }}"
                    alt="Avatar">
            </div>
            <h2>
                <%- user_name -%>
            </h2>
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#locations" data-toggle="tab">Locations</a>
                </li>
                <li>
                    <a href="#visualData" data-toggle="tab">Visual data</a>
                </li>
                <li>
                    <a href="#record" data-toggle="tab">Visual data</a>
                </li>
            </ul>
            <!-- Nav pills content -->
            <div class="tab-content clearfix" style="margin-top:50px">
                <!-- Locations -->
                <div class="tab-pane active" id="locations">
                    <div class="table-responsive">
                        <table class="table table-striped w-auto">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="location in locations | orderBy:'-createdAt'">
                                    <td class="text-left">{{ location.address }}</td>
                                    <td>{{ location.createdAt | date: "HH:mm dd/MM/yyyy" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Visual data -->
                <div class="tab-pane" id="visualData">
                    <div class="table-responsive">
                        <table id="visualTable" class="table table-striped w-auto" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Visual data</th>
                                    <th>Location</th>
                                    <th>Time</th>
                                    <th>Identified people</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- Record data -->
                <div class="tab-pane" id="record">
                    <div class="table-responsive">
                        <table id="recordTable" class="table table-striped w-auto" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Record</th>
                                    <th>Location</th>
                                    <th>Time</th>
                                    <th>Identified people</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>