<% layout('./share/layout.ejs') -%>

  <form class="text-center" action='/identify' method='post' encType="multipart/form-data">
    <div class="form-group">
      <input class="hide" type="file" name="sampleFile" id="image" accept="image/*" required/>
      <img class="img-responsive" style="margin:auto" id="preview" alt="preview" src="/images/logo.jpg" />
    </div>
    <button class="btn btn-primary" type="submit">IDENTIFY</button>
  </form>

  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          $('#preview').attr('src', e.target.result)
        }
        reader.readAsDataURL(input.files[0])
      }
    }

    $('#preview').click(function(){
      $('#image').click()
    })

    $("#image").change(function () {
      readURL(this)
    })
  </script>