<% layout('./share/layout.ejs') -%>

  <div ng-controller="identifyController" class="container">
    <form>
      <div class="form-group">
        <input class="hide" type="file" id="image" accept="image/*" required/>
        <div class="row" id="result">
          <% include ./share/logo.ejs %>
            <table id="table" class="table">
              <thead>
                <td>Name</td>
                <td>Student ID</td>
              </thead>
            </table>
        </div>
        <strong style="font-size: 30px">Click the eye to choose image.</strong>
      </div>
      <button class="btn btn-primary" type="button" ng-click="identify()">IDENTIFY</button>
    </form>
  </div>

  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          $('#preview').attr('src', e.target.result)
        }
        reader.readAsDataURL(input.files[0])
      }
    }

    $('#preview').click(function () {
      $('#image').click()
    })

    $("#image").change(function () {
      readURL(this)
    })
  </script>

  <script src="javascripts/identify.js"></script>