<% layout('./share/layout.ejs') -%>

  <div class="container">
    <!-- Logo -->
    <div class="row">
      <img class="img-responsive" style="margin:auto;cursor: pointer;" src="/favicon.ico">
    </div>
    <!-- About -->
    <div id="band" class="container">
      <h3>GOD'S EYES</h3>
      <p>
        <em>We are watching!</em>
      </p>
      <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <p>
            <strong>Vũ Minh Trí</strong>
          </p>
          <br>
          <a href="#demo" data-toggle="collapse">
            <img src="vuminhtri.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo" class="collapse">
            <p>Front-end developer</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p>
            <strong>Nguyễn Khánh Nam</strong>
          </p>
          <br>
          <a href="#demo2" data-toggle="collapse">
            <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo2" class="collapse">
            <p>Back-end developer</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p>
            <strong>Đinh Duy Kha</strong>
          </p>
          <br>
          <a href="#demo3" data-toggle="collapse">
            <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo3" class="collapse">
            <p>Back-end developer</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-sm-4">
          <p>
            <strong>Đào Duy Phát</strong>
          </p>
          <br>
          <a href="#demo" data-toggle="collapse">
            <img src="duyphat.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo" class="collapse">
            <p>Front-end developer</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p>
            <strong>Võ Tuấn Kiệt</strong>
          </p>
          <br>
          <a href="#demo2" data-toggle="collapse">
            <img src="votuankiet.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo2" class="collapse">
            <p>Back-end developer</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p>
            <strong>Phạm Hồng Thái</strong>
          </p>
          <br>
          <a href="#demo3" data-toggle="collapse">
            <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo3" class="collapse">
            <p>Back-end developer</p>
          </div>
        </div>
      </div>
    </div>

  </div>