<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />



	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">


	<!-- CSS Files -->

	<link href="lib/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="lib/assets/css/material-kit.css?v=1.2.1" rel="stylesheet" />
	<link href="lib/assets/css/index.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="lib/assets/assets-for-demo/vertical-nav.css" rel="stylesheet" />
	<link href="lib/assets/assets-for-demo/demo.css" rel="stylesheet" />

</head>

<body class="index-page">
	<!-- header-->

	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<% layout('./share/layout.ejs') -%>
				<script src="/javascripts/post/newsfeed.js"></script>
				<link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
				<div ng-controller="NewsFeedController">
					<div class="row">
						<div id='sidebar-container' class="col-sm-3 sidebar-container">
							<% include ./share/sidebar.ejs -%>
						</div>
						<div class="col-sm-6">
							<div infinite-scroll='loadMore()' id="postsContainer" infinite-scroll-disabled="block" infinite-scroll-distance='1'
							 class="posts-container">
								<div id="{{post._id}}" ng-repeat="post in scrollData">
									<div ng-click="postDetail(post._id)" style="cursor:pointer">
										<div>
											<h1 class="post-title">{{post.title}}</h1>
										</div>
										<div class="author">by {{post.userCreated.name}} at {{post.createdAt | date: "HH:mm
											dd/MM/yyyy"}}</div>
										<div class="address">{{ post.location.name || post.location.address }}</div>
									</div>
									<!-- Carousel -->
									<div id="carousel{{post._id}}" class="carousel slide" data-ride="carousel">
										<ol class="carousel-indicators">
											<li data-target="#carousel{{post._id}}" data-slide-to="{{$index}}" ng-class='{active:$first}' ng-repeat="data in post.datas"></li>
										</ol>
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item" ng-repeat="data in post.datas" ng-class='{active:$first}'>
												<img class="post" ng-src="{{data.URL}}" ng-if="data.isImage">
												<video class='post' ng-if="!data.isImage" controls>
													<source ng-src="{{data.URL}}" type="video/mp4">
												</video>
											</div>
										</div>
										<!-- Left and right controls -->
										<a class="left carousel-control" href="#carousel{{post._id}}" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#carousel{{post._id}}" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
							</div>
						</div>
					</div>

				</div>
				<!--buttons -->

			</div>
			<!-- đã xóa div khac-->
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<nav class="pull-left">
				<ul>
					<li>
						<a href="http://www.creative-tim.com">
							Creative Tim
						</a>
					</li>
					<li>
						<a href="http://presentation.creative-tim.com">
							About Us
						</a>
					</li>
					<li>
						<a href="http://blog.creative-tim.com">
							Blog
						</a>
					</li>
					<li>
						<a href="http://www.creative-tim.com/license">
							Licenses
						</a>
					</li>
				</ul>
			</nav>
			<div class="copyright pull-right">
				&copy;
				<script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by
				Creative Tim for a better web.
			</div>
		</div>
	</footer>
</body>
<!--   Core JS Files   -->
<script src="lib/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="lib/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="lib/assets/js/material.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="lib/assets/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="lib/assets/js/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="lib/assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="lib/assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="lib/assets/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="lib/assets/js/jasny-bootstrap.min.js"></script>

<!-- Plugin For Google Maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="lib/assets/js/material-kit.js?v=1.2.1" type="text/javascript"></script>

<!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
<script src="lib/assets/assets-for-demo/modernizr.js" type="text/javascript"></script>
<script src="lib/assets/assets-for-demo/vertical-nav.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var slider = document.getElementById('sliderRegular');
		noUiSlider.create(slider, {
			start: 40,
			connect: [true, false],
			range: {
				min: 0,
				max: 100
			}
		});
		var slider2 = document.getElementById('sliderDouble');
		noUiSlider.create(slider2, {
			start: [20, 60],
			connect: true,
			range: {
				min: 0,
				max: 100
			}
		});
		materialKit.initFormExtendedDatetimepickers();
	});
</script>

</html>