<% layout('./share/layout.ejs') -%>
    <script src="/javascripts/post/newsfeed.js"></script>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <div ng-controller="NewsFeedController">
        <div class="row">
            <div class="col-lg-3">
                <% include ./share/sidebar.ejs -%>
            </div>
            <div class="col-lg-6">
                <div infinite-scroll='loadMore()' id="postsContainer" class="postsContainer">
                    <div id="{{post._id}}" class="post" ng-repeat="post in scrollData">
                        <a href="/post/{{post._id}}" style="text-decoration:none">
                            <div>
                                <h1>{{post.title}}</h1>
                            </div>
                            <div class="author">by {{post.userCreated.name}} at {{post.createdAt | date: "HH:mm dd/MM/yyyy"}}</div>
                            <div class="address">{{ post.location.address }}</div>
                            <div class="data" ng-repeat="data in post.datas">
                                <img ng-src="{{data.URL}}">
                            </div>
                            <!-- <div class="fb-comments" data-href="http://godseye.ml/{{post._id}}" data-width="100%" data-numposts="2"></div> -->
                            <div class="line">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>