<% layout('./share/layout.ejs') -%>
    <script src="/javascripts/post/newsfeed.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <div ng-controller="NewsFeedController">
        <div class="row">
            <div id='sidebar-container' class="col-sm-3">
                <% include ./share/sidebar.ejs -%>
            </div>
            <div class="col-sm-6">
                <div infinite-scroll='loadMore()' id="postsContainer" infinite-scroll-disabled="block" infinite-scroll-distance='1' class="postsContainer">
                    <div id="{{post._id}}" ng-repeat="post in scrollData">
                        <a href="/post/{{post._id}}" style="text-decoration:none">
                            <div>
                                <h1>{{post.title}}</h1>
                            </div>
                            <div class="author">by {{post.userCreated.name}} at {{post.createdAt | date: "HH:mm dd/MM/yyyy"}}</div>
                            <div class="address">{{ post.location.address }}</div>
                            <div class="data" ng-repeat="data in post.datas">
                                <img class='post' ng-src="{{data.URL}}">
                            </div>
                            <hr>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>