<% layout('./share/layout.ejs') -%>

  <title>
    <%= title %>
  </title>

  <div class="container">
    <div class="row">
      <div class="text-center">
        <a href="/upload">
          <button class="btn btn-primary">UPLOAD</button>
        </a>
        <a href="/identify">
          <button class="btn btn-primary">IDENTIFY</button>
        </a>
      </div>
    </div>
    <div class="row text-center">
      <img src="/favicon.ico">
    </div>
  </div>