<% layout('./share/layout.ejs') -%>

  <title>
    <%= title %>
  </title>

  <div class="container">
    <div class="row text-center">
      <img class="img-responsive" style="margin:auto" src="/favicon.ico">
    </div>
  </div>