<% layout('./share/layout.ejs') -%>
<script src="/javascripts/manager.js"></script>
<div class="main main-raised">

        <div class="container">
            <div ng-controller="managerController">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <% include ./share/sidebar.ejs -%> -->
                    </div>
                    <div class="col-sm-6">
                        <table id="visualTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Visual data</th>
                                    <th>Location</th>
                                    <th>Time</th>
                                    <th>Identified people</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-sm-3"></div>

                </div>
            </div>
        </div>

</div>