<% layout('./share/layout.ejs') -%>

  <div class="container">

  </div>


  <script>
    var provider = new firebase.auth.GoogleAuthProvider()

    firebase.auth().getRedirectResult().then(function (result) {
      if (result.credential) {
        // This gives you a Google Access Token. You can use it to access the Google API.
        var token = result.credential.accessToken;
        // ...
      }
      // The signed-in user info.
      var user = result.user;
      if (user) {
        user.getIdToken(/* forceRefresh */ true).then(function (idToken) {
          // Send token to your backend via HTTP
          // ...
          $.post("/api/auth",
            {
              idToken: idToken
            },
            function (data, status) {
              window.location.href = '/'
            })
        }).catch(function (error) {
          firebase.auth().signInWithRedirect(provider)
        });
      }
      else {
        firebase.auth().signInWithRedirect(provider)
      }
    }).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // The email of the user's account used.
      var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      var credential = error.credential;
      // ...
      firebase.auth().signInWithRedirect(provider)
    });
  </script>