<% layout('./share/layout.ejs') -%>

<style>
    .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        float: right;
    }

    .avatar-header {
        width: 80px;
    }

    .created-at-header {
        width: 140px;
    }

    .button-header {
        width: 140px;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
        border-bottom: solid black 3px;
        color: black;
        font-weight: 650;
        font-size: 30px;
        background-color: transparent;
    }

    .nav-pills>li>a {
        color: grey;
        font-weight: 650;
        font-size: 30px;
        background-color: transparent;
    }

    .nav-pills>li>a:hover {
        color: black;
        background-color: transparent;
    }
</style>
<script src="/javascripts/subscription.js"></script>
<div ng-controller="SubscriptionController">
    <div class="row">
        <div id='sidebar-container' class="col-sm-3">
            <% include ./share/sidebar.ejs -%>
        </div>
        <div class="col-sm-6" style="margin-top: 20px">
            <span class="hide" id="user_id">
                <%- user_id -%>
            </span>
            <div>
                <img id='avatar' class="img-circle" ng-src="{{ user.avatar ||'https://accounts-cdn.9gag.com/media/avatar/21748854_100_1.jpg' }}"
                    alt="Avatar">
            </div>
            <h2>
                <%- user_name -%>
            </h2>
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#subscribedLocations" data-toggle="tab">Subscribed locations</a>
                </li>
                <li>
                    <a href="#allLocations" data-toggle="tab">All locations</a>
                </li>
            </ul>
            <!-- Nav pills content -->
            <div class="tab-content clearfix" style="margin-top:50px">
                <!-- Subscribed locations -->
                <div class="tab-pane active" id="subscribedLocations">
                    <div class="table-responsive">
                        <table id="subscribedLocationsTable" class="table table-striped w-auto" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Address123</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- All locations -->
                <div class="tab-pane" id="allLocations">
                    <div class="table-responsive">
                        <table id="allLocationsTable" class="table table-striped w-auto" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>