<html>

<%- include ./share/head.ejs %>

  <body>
    <form action='/upload' method='post' encType="multipart/form-data">
      <input type="file" name="sampleFile" id="image" required/>
      <input type="text" name="id" required/>
      <input type='submit' value='Upload!' />
    </form>
    <input type="button" onclick="train()" value="Train">
    <img id="preview" alt="preview" src="/favicon.ico" />
  </body>

</html>

<script>
  function train() {
    $.ajax({
      url: '/person-groups/test-faces/train',
      success: function (res) {
        alert('Train successfully')
      },
      error: function (res) {
        alert(res.responseJSON.error.message)
      }
    })
  }

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader()
      reader.onload = function (e) {
        $('#preview').attr('src', e.target.result)
      }
      reader.readAsDataURL(input.files[0])
    }
  }

  $("#image").change(function () {
    readURL(this)
  })
</script>