<% layout('./share/layout.ejs') -%>
    <script src="javascript/user.js"></script>
    <div ng-controller="UserController">
        <div class="row">
            <div class="col-lg-3">
                <% include ./share/sidebar.ejs -%>
            </div>
            <div class="col-lg-6">

            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    </div>