<html lang="en" ng-app="GodsEye" ng-cloak>
<% include ./share/head.ejs -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/post.css">

<!-- HTTPS required. HTTP will give a 403 forbidden response -->
<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>

<script src="/javascripts/user.js"></script>

<title>
    <%- user_name -%>
</title>

<body class="profile-page">
    <% include ./share/header.ejs %>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('/profile2.jpg');"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div ng-controller="UserController">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="profile">
                                <div class="avatar">
                                    <img src="<%- user_avatar %>" alt="Avatar" class="img-circle img-responsive img-raised">
                                </div>

                                <span class="hide" id="user_id">
                                    <%- user_id -%>
                                </span>
                                <div class="name">
                                    <h3 class="title">
                                        <%- user_name -%>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xs-2 follow">
                            <button class="btn btn-fab btn-primary" rel="tooltip" title="Follow this user">
                                <i class="material-icons">add</i>
                            </button>
                        </div> -->
                    </div>

                    <div class="description text-center">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <input type="email" class="form-control" ng-model="user.email" placeholder="Email"
                                autocomplete="email" name="email" disabled>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">phone</i>
                            </span>
                            <div style="display: flex">
                                <input class="form-control" value="+84" id="country_code" disabled />
                                <input class="form-control" ng-model="user.phone" type="number" placeholder="Phone number"
                                    id="phone_number" ng-disabled="user.verified" />
                                <i style="margin-top: 30px; margin-left: 10px; color: #9c27b0;" class="material-icons"
                                    ng-show="user.verified">verified_user</i>
                                <a style="margin: 20px" ng-click="verifyPhone()" class="btn btn-primary" ng-hide="user.verified">Verify</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="profile-tabs">
                                <div class="nav-align-center">
                                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                                        <li class="active">
                                            <a href="#posts" role="tab" data-toggle="tab">
                                                <i class="material-icons">palette</i>
                                                My posts
                                            </a>
                                        </li>
                                        <!-- <li>
                                            <a href="#people" role="tab" data-toggle="tab">
                                                <i class="material-icons">people</i>
                                                People
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="#notifications" role="tab" data-toggle="tab">
                                                <i class="material-icons">camera</i>
                                                Notifications
                                            </a>
                                        </li>
                                        <li ng-click='reloadTables()'>
                                            <a href="#subscribedLocations" role="tab" data-toggle="tab">
                                                <i class="material-icons">subscriptions</i>
                                                Subscribed locations
                                            </a>
                                        </li>
                                        <li ng-click='reloadTables()'>
                                            <a href="#allLocations" role="tab" data-toggle="tab">
                                                <i class="material-icons"> subscriptions</i>
                                                All location
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Profile Tabs -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active work" id="posts">
                            <div class="col-md-6 col-md-offset-3">
                                <div id="postsContainer" class="postsContainer">
                                    <div id="{{post._id}}" class="post" ng-repeat="post in posts">
                                        <a href="/post/{{post._id}}" style="text-decoration:none">
                                            <div>
                                                <h1>{{post.title}}</h1>
                                            </div>
                                            <div class="author">by {{post.userCreated.name}} at {{post.createdAt |
                                                date: "HH:mm dd/MM/yyyy"}}
                                            </div>
                                            <div class="address">{{ post.location.address }}</div>
                                            <div class="item" ng-repeat="data in post.datas" ng-class='{active:$first}'>
                                                <!-- <img ng-src="{{data.URL}}"> -->
                                                <img ng-src="{{data.URL}}" style="width: 100%" ng-if="data.isImage">

                                                <video style="width: 100%"ng-if="!data.isImage" controls>
                                                    <source ng-src="{{data.URL}}" type="video/mp4">
                                                </video>
                                            </div>
                                        </a>
                                        <br>
                                        <button class="btn btn-danger" ng-click="delete(post._id, $index)">Delete</button>
                                        <!-- <button class="btn btn-primary" ng-click="goToEditPage(post._id)">Edit</button> -->
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="tab-pane" id="people">
                            <div class="table-responsive">
                                <table class="table table-striped w-auto">
                                    <thead>
                                        <tr>
                                            <th class="avatar-header"></th>
                                            <th>Name</th>
                                            <th>Score</th>
                                            <th>Status</th>
                                            <th class="created-at-header">Created At</th>
                                            <th class="button-header"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="person in persons | orderBy:'-createdAt'">
                                            <td><img class="avatar" ng-src="{{ person.datas[0].URL }}"></td>
                                            <td>{{ person.name }}</td>
                                            <td>{{ person.score }}</td>
                                            <td>{{ person.status }}</td>
                                            <td>{{ person.createdAt | date: "HH:mm dd/MM/yyyy" }}</td>
                                            <td><a href="/person/face/add/{{person._id}}" class="btn btn-primary">Add
                                                    photo</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        <!-- Notifications -->
                        <div class="tab-pane" id="notifications">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Message</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody style='text-align: left'>

                                    <tr ng-repeat="notification in notifications">
                                        <td> <a href="/notification/{{notification._id}}" style="text-decoration:none">
                                                {{ notification.title }} at {{notification.location.address}}
                                            </a>
                                        </td>
                                        <td>{{ notification.createdAt | date: "HH:mm dd/MM/yyyy" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button ng-click='loadMoreNotification()' class="btn btn-facebook">Load
                                    more notifications</button>
                            </div>
                        </div>
                        <!-- Subscribed locations -->
                        <div class="tab-pane" id="subscribedLocations">
                            <div class="table-responsive">
                                <table id="subscribedLocationsTable" class="table table-striped w-auto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Address</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- All locations -->
                        <div class="tab-pane" id="allLocations">
                            <div class="table-responsive">
                                <table id="allLocationsTable" class="table table-striped w-auto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Address</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <% include ./share/footer.ejs %>
</body>

</html>