<html>

<%- include ./share/head.ejs %>

  <body>
    <form action='/upload' method='post' encType="multipart/form-data">
      <input type="file" name="sampleFile" />
      <input type="text" name="name" />
      <input type='submit' value='Upload!' />
    </form>
    <input type="button" onclick="train()" value="Train">
  </body>

</html>

<script>
  function train() {
    $.ajax({
      url: '/person-groups/test-faces/train',
      success: function (res) {
        alert('Train successfully')
      },
      error: function (res) {
        alert(res.responseJSON.error.message)
      }
    })
  }
</script>