<html>

<body>
  <form action='/upload' method='post' encType="multipart/form-data">
    <input type="file" name="sampleFile" />
    <input type="text" name="name" />
    <input type='submit' value='Upload!' />
  </form>
  <form action='/train' method='post' encType="multipart/form-data">
    <input type="file" name="train" />
    <input type='submit' value='Train data' />
  </form>
</body>

</html>