@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&subset=vietnamese');
h1 {
    color: black;
    font-weight: bold;
    text-align: left
}
.data{
    text-align: left
}
.sidebar-container{
    text-align: left
}
.postsContainer{
    
}
.posts-container .post-title{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-stretch: 120%
}
.author{
    color:grey;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: left
}
.line{
    margin-top: 20px;
    border-top: solid 1px black 
}
img.post, video.post{
    width: 100%
}

.address{
    color:grey;
    font-size: 13px;
    text-align: left;
    font-style: italic;
}