@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&subset=vietnamese');
@media only screen and (max-width:767px) {
    #sidebar-laptop {
        display: none;
    }

    #sidebar-mobile {
        display: initial
    }

    .tabbar {
        height: 48px;
        background-color: #000;
        display: -webkit-box;
        display: -moz-box;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        position: relative;
        padding: 0 4px;
        z-index: 0;
    }

    .tabbar a.active {
        font-weight: 700;
        color: #fff;
    }

    .tabbar a {
        display: block;
        color: hsla(0, 0%, 100%, .4);
        text-decoration: none;
        line-height: 24px;
        font-weight: 700;
        padding: 12px;
    }
}

@media only screen and (min-width:768px) {
    #sidebar-laptop {
        display: initial;
        /* position: sticky;
        top: 10%;
        left: 0px */
    }
    #sidebar-mobile {
        display: none
    }

    .sidebar-laptop {
    }
    .sidebar-header {
        
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 12px;
        text-align: left;
    }
    .popular-locations {
        color: black;
        background-color:white;
        margin-top: 10px
    }

    #navMenu>li>a.active {
        background: lightslategrey
    }
}