<% layout('../share/layout.ejs') -%>

<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <div ng-controller="detailController">
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        <link rel="stylesheet" type="text/css" href="/stylesheets/notification.css">
                        <span id="_id" class="hide">
                            <%- _id %>
                        </span>
                        <div id="{{notification._id}}" class="notification">
                            <div>
                                <h1>{{notification.title}}</h1>
                            </div>
                            <!-- by {{notification.userCreated.name}}  -->
                            <div class="author">at {{notification.createdAt |
                                date: "HH:mm dd/MM/yyyy"}}</div>
                            <div class="address">{{ notification.location.name || notification.location.address }}</div>
                            <video ng-if="foo" width="100%" controls>
                                <source src="{{ notification.data.URL }}">
                            </video>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/javascripts/notification/detail.js"></script>