<!-- Facebook share button -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook share button -->
<footer class="footer text-center">
    <div class="container-fluid">
        <!-- Facebook share button -->
        <div class="fb-share-button" data-href="http://20.184.8.69:3000/" data-layout="button" data-size="large" data-mobile-iframe="true">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F20.184.8.69%3A3000%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">Chia sẻ</a>
        </div>
        <!-- End Facebook share button -->
        <p class="copyright" style="margin-top:10px">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            <a href="https://github.com/dalo2903/gods-eye">Gods Eye</a>. All Rights Reserved
        </p>
    </div>
</footer>