<footer class="footer">
    <div class="container-fluid">
        <p class="copyright text-center">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            <a href="https://github.com/dalo2903/gods-eye">Gods Eye</a>. All Rights Reserved
        </p>
    </div>
</footer>