<!doctype html>
<html lang="en" ng-app="Shynh">

<head>
    <% include ./head.ejs -%>
</head>

<body>
    <div class="wrapper">
        
        <div class="main-panel">
            
            <% include ./header.ejs %>

            <div class="content">
                
                <%- body %>

            </div>

            <% include ./footer.ejs %>

        </div>
    </div>
</body>
</html>