<!doctype html>
<html lang="en">

<head>
    <% include ./head.ejs -%>
</head>

<body>
    <div class="text-center">
        <div class="header">
            <% include ./header.ejs %>
        </div>
        <div class="content" style="margin-top:100px">
            <%- body %>
        </div>
        <div class="footer" style="margin-top:20px">
            <% include ./footer.ejs %>
        </div>
    </div>
</body>

</html>