<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <h5 id="content"></h5>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success btn-simple" data-dismiss="modal">GOT IT</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sign-out-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure you want to <br> sign out? </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">No</button>
                <a href="/api/auth/sign-out"><button type="button" class="btn btn-success btn-simple">Yes</button></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                </div>
                <div class="modal-body text-center">
                    <h5 id="content">Please verify your phone number to use this feature</h5>
                </div>
                <div class="modal-footer text-center">
                    <a type="button" class="btn btn-success btn-simple" href="/user/<%- user_id %>">GOT IT</a>
                </div>
            </div>
        </div>
    </div>

<script>
    function showErrorModal(content) {
        $('#content').text(content)
        $('#errorModal').modal('show')
    }
</script>