<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar text-left">
  <div class="profile-sidebar">
    <div class="profile-userpic">
      <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
    </div>
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <%- user_name %>
      </div>
      <div class="profile-usertitle-status">
        <span class="indicator label-success"></span>Online</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="divider"></div>
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <% if (user_id !== '') { %>
      <li>
        <a href="/person/create"><i class="fas fa-user-plus"></i> ADD PERSON</a>
      </li>
      <li>
        <a href="/upload">UPLOAD</a>
      </li>
      <li class="hide">
        <a href="/identify">IDENTIFY</a>
      </li>
      <li class="hide">
        <a onclick="train()">TRAIN</a>
      </li>
      <li>
        <a href="/newsfeed"><i class="fas fa-newspaper"></i> NEWS FEED</a>
      </li>
      <li>
        <a href="/post/create"><i class="fas fa-upload"></i> CREATE POST</a>
      </li>
      <li>
        <a href="/api/auth/sign-out">
          <span class="glyphicon glyphicon-log-in"></span> Sign Out</a>
      </li>
      <% } else { %>
        <li>
          <a href="#" onclick="signIn()">
            <span class="glyphicon glyphicon-log-in"></span> Sign In</a>
        </li>
        <% } %>
  </ul>
</div>
<!--/.sidebar-->