<!-- sidebar -->
<div id="sidebar-collapse" class="sidebar text-left" ng-controller='sideBarController'>
    <h2>Popular locations</h2>
    <ul class="nav menu">
        <li ng-repeat="location in locations"><a href="#">{{ location.address }}</a></li>
    </ul>
</div>
<!--/.sidebar-->
<script>
    var app = angular.module('GodsEye')
    app.controller('sideBarController', ['$scope', 'apiService', function ($scope, apiService) {
        apiService.getLocations()
            .then(function (res) {
                $scope.locations = res.data.locations
            })
            .catch(function (res) {
                console.log(res)
            })

    }])
</script>